<%- include('head/head.ejs') %>

	<body>
		<div class="container">
			<div
				class="alert alert-danger m-5 p-5 fs-3 text-center"
				role="alert"
			>
				⚠️ Usuario o contraseña inválida.
			</div>
			<div class="container d-grid gap-3 justify-content-center">
				<a
					class="btn btn-dark"
					href="/users/login"
					>Iniciar sesión</a
				>
				<a
					class="btn btn-outline-dark"
					href="/users/signup"
					>Registrar nuevo usuario</a
				>
			</div>
		</div>
	</body>
</html>
