<%- include('head/head.ejs') %>

	<body>
		<div class="container mt-4">
			<h1 class="text-center">Iniciar sesión</h1>
			<div class="row d-flex justify-content-center m-5">
				<div class="col-sm-8 col-lg-4 col-md-6">
					<form
						class="form"
						action="/users/login"
						method="post"
						role="form"
						autocomplete="off"
					>
						<legend>Ingrese sus datos:</legend>
						<div class="form-group mt-4">
							<input
								id="email"
								name="email"
								placeholder="Ingrese email"
								class="form-control"
								type="email"
								required
								autofocus
							/>
						</div>
						<div class="form-group mt-4">
							<input
								id="password"
								name="password"
								placeholder="Ingrese contraseña"
								class="form-control"
								type="password"
								required
							/>
						</div>
						<br />
						<div class="form-group">
							<div class="d-grid gap-2">
								<input
									class="btn btn-dark"
									type="submit"
									value="Iniciar sesión"
								/>
								<a
									class="btn btn-outline-dark"
									href="/users/signup"
									>Crear nuevo usuario</a
								>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
