<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<title>Signup</title>
	</head>
	<body>
		<div class="container mt-4">
			<h1 class="text-center">Registrar Usuario</h1>
			<div class="row justify-content-center m-5">
				<div class="col-sm-8 col-lg-4 col-md-6">
					<form
						class="form"
						action="/users/signup"
						method="post"
						enctype="multipart/form-data"
						role="form"
						autocomplete="on"
					>
						<legend>Ingrese sus datos:</legend>
						<div class="form-group mt-2">
							<input
								id="first"
								name="first"
								placeholder="Nombre de usuario"
								class="form-control"
								type="text"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<input
								id="last"
								name="last"
								placeholder="Apellido de usuario"
								class="form-control"
								type="text"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<input
								id="age"
								name="age"
								placeholder="Edad de usuario"
								class="form-control"
								type="number"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<input
								id="email"
								name="email"
								placeholder="Email"
								class="form-control"
								type="email"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<input
								id="password"
								name="password"
								placeholder="Contraseña"
								class="form-control"
								type="password"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<input
								id="phone"
								name="phone"
								placeholder="Telefono"
								class="form-control"
								type="number"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<input
								id="street"
								name="street"
								placeholder="Nombre calle"
								class="form-control"
								type="text"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<input
								id="streetNum"
								name="streetNum"
								placeholder="Numero de puerta"
								class="form-control"
								type="number"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<input
								id="departmentNum"
								name="departmentNum"
								placeholder="Numero del departamento"
								class="form-control"
								type="number"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<legend>Ingrese Avatar:</legend>
							<input
								name="avatar"
								class="form-control"
								type="file"
								enctype="multipart/form-data"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-4">
							<div class="d-grid gap-2">
								<input
									class="btn btn-dark"
									type="submit"
									value="Registrar"
								/>
								<a
									class="btn btn-outline-dark"
									href="/users/login"
									>Ya tengo cuenta</a
								>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
