<%- include('head/head.ejs') %>

	<body>
		<div class="container mt-4">
			<h1 class="text-center">Carga de producto</h1>
			<div class="row justify-content-center m-5">
				<div class="col-sm-8 col-lg-4 col-md-6">
					<form
						class="form"
						action="/api/v1/productos"
						method="post"
						enctype="multipart/form-data"
						role="form"
						autocomplete="on"
					>
						<legend>Cargue la informacion:</legend>
						<div class="form-group mt-2">
							<input
								id="title"
								name="title"
								placeholder="Nombre de producto"
								class="form-control"
								type="text"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<input
								id="price"
								name="price"
								placeholder="Importe"
								class="form-control"
								type="number"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<input
								id="thumbnail"
								name="thumbnail"
								placeholder="Imagen del producto"
								class="form-control"
								type="file"
								enctype="multipart/form-data"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<input
								id="description"
								name="description"
								placeholder="Descripcion del producto"
								class="form-control"
								type="text"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-2">
							<input
								id="stock"
								name="stock"
								placeholder="Stock inicial"
								class="form-control"
								type="number"
								autofocus
								required
							/>
						</div>
						<br />
						<div class="form-group mt-4">
							<div class="d-grid gap-2">
								<input
									class="btn btn-dark"
									type="submit"
									value="Agregar producto"
								/>
								<a
									class="btn btn-outline-dark"
									href="/users/menu"
									>Regresar</a
								>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
