<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<title>Error | Login</title>
	</head>
	<body>
		<div class="container">
			<div
				class="alert alert-danger m-5 p-5 fs-3 text-center"
				role="alert"
			>
				⚠️ Usuario o contraseña inválida.
			</div>
			<div class="container d-grid gap-3 justify-content-center">
				<a
					class="btn btn-dark"
					href="/users/login"
					>Iniciar sesión</a
				>
				<a
					class="btn btn-outline-dark"
					href="/users/signup"
					>Registrar nuevo usuario</a
				>
			</div>
		</div>
	</body>
</html>
