<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
	<div class="container d-flex">
		<a
			class="navbar-brand me-auto"
			href="/"
			>#Logo</a
		>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="collapse navbar-collapse"
			id="navbarNavAltMarkup"
		>
			<div class="navbar-nav">
				<a
					class="nav-link"
					aria-current="page"
					href="/"
					>Home</a
				>
				<a
					class="nav-link"
					href="/api/v1/productos"
					>Productos</a
				>
				<a
					class="nav-link"
					href="/users"
					>Usuarios</a
				>
				<a
					class="nav-link"
					href="/users/menu"
					>User Menu</a
				>
				<a
					class="nav-link"
					href="/api/v1/productos/carga"
					>Cargar Productos</a
				>
			</div>
		</div>
	</div>
</nav>
